{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Security Framework</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
	
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">


  
</head>

<body>
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BB8W2X"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">

    <div class="container">

      <h1><a href="{% url 'index' %}">Lee Jun Hyeong</a></h1>
      <h2 style="color:#fff">나는 <span class="typing" style="color:#12D640"></span></h2>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href=""> <span>Home</span></a></li>
          <li><a href="{% url 'blog' %}"><span>Blog</span></a></li>
          <li><a href="{% url 'challenges' %}"> <span>Wargame</span></a></li>
			<li><a href="{% url 'rank' %}"> <span>Rank</span></a></li>
          <li><a href="{% url 'about' %}"> <span>About Me</span></a></li>
          <li><a href="#contacts"> <span>Contact</span></a></li>
			<li></li><li></li><li></li><li></li>
			{% if user.is_authenticated %}
			<li><a href="{% url 'profile' %}"> <span>Profile</span></a></li>
            <li><a href="{% url 'logout' %}"> <span>Logout</span></a></li>
            {% else %}
			<li><a href="{% url 'login' %}"> <span>Login</span></a></li>
			<li><a href="{% url 'register' %}"> <span>Register</span></a></li>
            {% endif %}

        </ul>
      </nav><!-- .nav-menu -->

      <div class="social-links">
          <a href="https://www.instagram.com/junja_99/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/web1832" target="_blank" class="github"><i class="bx bxl-github"></i></a>
          <a href="" target="_blank" class="google"><i class="bx bxl-google"></i></a>

      </div>

    </div>
  </header><!-- End Header -->
 

  <!-- End Contact Section -->

  <!-- Vendor JS Files -->

  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script type="text/javascript">
    var typed = new Typed('.typing',{
      strings: ["취약점 분석가", "풀스택 개발자"],
      loop: true,
      typeSpeed: 65,
      backSpeed: 65
    });
  </script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
